#grid-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 1px solid;
}

.square {
    display: flex;
    border-color: black;
}

.square.filled {
    background: black;
}

button {
    display: block;
    margin: 0 auto;
}

#error {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: center;
    width: 375px;
    margin: 10px auto;
    
}